<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改密码</title>
</head>
<body>
<div style="width:100%;text-align:center">
    <h1 align="center">修改密码</h1>
<form align="center" action="/pwsuccess" method="post">
    {% module xsrf_form_html() %}
    <p>旧密码：<input type="password" name="oldpassword"></p>
    <p>新密码：<input type="password" name="newpassword1"></p>
    <p>请再次输入新密码：<input type="password" name="newpassword2"></p>
    <button type="submit" value="修改">修改</button>
    <button formmethod="get" formaction="/welcome" type="submit" >返回</button>
</form>
</div>
</body>
</html>