<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新建工作记录</title>
</head>
<body>
<div style="width:100%;text-align:center">
    <h1 align="center">新建工作记录</h1>
<form align="center" action="/complete" method="post">
    {% module xsrf_form_html() %}
    <p>操作人：<input type="text" name="user"></p>
    <p>操作内容：<textarea rows="10" cols="40" type="text" name="content"></textarea></p>
    <button type="submit" value="保存">保存</button>
    <button formmethod="get" formaction="/welcome" type="submit" >返回</button>
</form>
</div>
</body>
</html>