<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户注册</title>
</head>
<body>
<h1 align="center">欢迎使用安徽理工大学工作记录系统</h1>
<li style="text-align:center">当前登录用户为：{{ user }}</li>

<p class='text-danger' align="center">注册用户名请使用英文、数字!</p>
<form action='/register' method='post' class='well' align="center">
    {% module xsrf_form_html() %}
    <div class='form-group'>
        <label>用户名：</label>
        <input type='text' name='username' class='form-control'/>
    </div>
    <div class='form-group'>
        <label>密码：</label>
        <input type='password' name='password' class='form-control'/>
    </div>
    <div class='form-group'>
        <label>确认密码：</label>
        <input type='password' name='password2' class='form-control'/>
    </div>
    <div class='form-group'>
        <label>真实姓名：</label>
        <input type='text' name='realname' class='form-control'/>
    </div>
    <div class='form-group'>
        <label>用户类型：</label>
        <input type='text' name='user_type' class='form-control' placeholder="2"/>
    </div>
    <button type='submit' class='btn btn-primary'>注册</button>
    <button formmethod="get" formaction="/more" type="submit" >返回</button>
    <a href='/'>已有帐号，请直接登录.</a>
</form>


</body>
</html>