<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>重置密码</title>
</head>
<body>
<div style="width:100%;text-align:center">
    <h1 align="center">重置密码</h1>
<form align="center" action="/resetpassword" method="post">
    {% module xsrf_form_html() %}
    <p>用户名：<input type="text" name="resetusername"></p>
    <p>新密码：<input type="password" name="newpassword1"></p>
    <p>请再次输入新密码：<input type="password" name="newpassword2"></p>
    <button type="submit" value="重置密码">重置密码</button>
    <button formmethod="get" formaction="/more" type="submit" >返回</button>
</form>
</div>
</body>
</html>